<div id="paymentContainer">
	<label class="label-container">{{labelTitle}}</label>
	<div class="payment-container-item s-py-7">
		<ContainerGopay v-if="this.$route.params.payment_method == 'gopay'" />
		<ContainerCreditCard v-if="this.$route.params.payment_method == 'cc'" />
		<ContainerVa v-if="this.$route.params.payment_method == 'va'" />
	</div>
<!-- 		<template v-for="(item, index) in 5">
			<BaseCustomRadio :radioId="'uangElektronik'+index" :radioName="'method_uang_elektronik'" :radioLabel="'GO-PAY'" :radioValue="index" class="card-frame s-py-7">
				<template v-slot:icon_payment>
					<img src="@/assets/images/icon/gopay-icon.png" />
				</template>
				<template v-slot:form_payment>
					<BaseFormGroup 
					:labelTitle="'Nama Pemilik Rekening'"
					:inputId="'holderName'"
					:infoInputMessage="'Mohon masukkan Nama pemilik rekening bank yang akan anda gunakan untuk melakukan transfer.'"
					>
						<input type="text" name="" class="s-form-control">
					</BaseFormGroup>
				</template>
			</BaseCustomRadio>
		</template>

		<a @click="showModal = true">Muncul</a> -->
</div>