htlm,body{
	margin: 0;
	background: $v-bg-color;
}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.card-frame{
	border-radius: 5px;
	background: $v-white;
	border: 1px solid $v-light-border;
	padding: 10px 15px;
	box-shadow: 4px 4px 7px 4px rgba(216, 216, 216, 0.1);
}

.custom-radio{
	display: inline-block;
	position: absolute;
	border: $border-red;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	transform: translateY(-100%);
	z-index: 5;
	transition: border .10s linear;
	-webkit-transition: border .10s linear;
	margin: 7px 10px;

	&:before{
		display: block;
		position: absolute;
		content: '';
		border-radius: 100%;
		height: 12px;
		width: 12px;
		top: 3px;
		left: 3px;
		margin: auto;
		transition: background 0.10s linear;
		-webkit-transition: background 0.10s linear;
	}
}

.count-down-standard{
	transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;

	&.unpinned{
		transform: translateY(-100%);
		transition-timing-function: ease-in;
  	transition: 0.2s;
	}

	label{
		color: $v-white;
		display: block;
		font-size: 80%;
	}

	.countdown-frame{
		display: flex;
		align-items: center;
		justify-content: center;
		background: $v-red-header;
		margin: 10px 0;
		padding: 10px 0;
		color: $v-white;
		border: 1px solid $v-red-border;
		box-shadow: 2px 2px 2px 0 rgba(232, 232, 232, 0.1);

		.block {
			display: flex;
			flex-direction: column;
			margin: 0 10%;

			.digit{
				text-align:center;
				font-size: 1.6rem;
			}
			.text{
				font-size: 0.7rem;
			}

			p{
				margin: 0;
			}
		}

		.divid{
			font-size: 2rem;
			color: $v-black;
		}
	}
}

.count-down-fixed{
	color: $v-white;
	font-size: 80%;
	background: $v-red;
	padding: 7px 15px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 9;
	//animation
	transform: translateY(-100%);
  transition-timing-function: ease-in;
  transition: 0.2s;

  &.is-show{
  	transition: 0.25s;
	  transition-timing-function: ease-out;
	  
	  transform: translateY(0);
	  opacity: 1;
  }

	.countdown-mini-frame{
		margin: 0 15px;
	}

	.countdown-mini-icon{
		img{
			width: 100%;
			height: auto;
			vertical-align: top;
			max-width: 1rem;
		}
	}
}

// promo flag

.promo-flag-first {
	position: relative;
  border: 2px solid $v-red;
  background: $v-white;
  color: $v-red;
  text-align: center;
  display: inline-block;
  padding: .1rem .5rem;
  border-radius: 3px;

  p{
  	font-size: 65%;
  	margin: 0;
  }

  &:before,
  &:after{
  	height:45px;
    width:23px;
    content: '';
    position: absolute;
    top: calc(0.3rem - 1px);
    height: .5rem;
    width: .4rem;
    border: 2px solid $v-red;
  }

  &:before {
    left: -2px;
    border-radius: 0 1rem 1rem 0;
    border-left-color: $v-white;
  }

  &:after {
    right: -2px;
    border-radius: 1rem 0 0 1rem;
    border-right-color: $v-white;
  }
}

// mini icon
.logo-payment-frame{
	width: 2.5rem;
	height: 1.5rem;
	margin: 0 5px;
	padding: 0 5px;
	display: inline-block;
	text-align: center;
	border: $border-normal;

	&:first-of-type{
		margin-left: 0;
	}

	img{
		max-width: 100%;
		max-height: 100%;
		height: auto;
		vertical-align: middle;
	}
}