<div id="cashierPayment" class="col-12">
	<div class="row">
		<label class="label-container">Metode Pembayaran</label>
		<template v-for="item in dummyPaymentMethod">
			<router-link :to="{name: 'PaymentContainer', params: {payment_method: item.payCode, method_label: item.title}}">
				<div id="baseSubPayment" class="col-12 card-frame">
					<div class="payment-method-item">
						<p>{{item.title}}</p>
						<div class="logo-payment-frame" v-for="image in item.logo">
							<img :src="require(`@/assets/images/icon/${image}.png`)" class="logo-payment-menu" />
						</div>
					</div>
					<div class="right-item-payment">
						<span class="promo-menu">
							<div class="promo-flag-first" v-if="item.promo">
								<p>Promo %</p>
							</div>
						</span>
						<span class="arrow-menu">
							<img src="@/assets/images/icon/arrow-menu.png" />
						</span>
					</div>
				</div>
			</router-link>
		</template>
	</div>
</div>