<div id="containerVa">
	<div v-for="(item, index) in dummyVaBank">
		<BaseCustomRadio :radioId="item.value" :radioName="'method_va'" :radioLabel="item.name" :radioValue="item.value" :periodPrice="false" class="card-frame s-py-7 s-px-10" v-model="va_choose">
			<template v-slot:icon_payment>
				<div class="logo-payment-frame s-float-r" v-for="image in item.logo">
					<img :src="require(`@/assets/images/icon/${image}.png`)" class="logo-payment-menu" />
				</div>
			</template>
		</BaseCustomRadio>
	</div>
</div>