<div id="creditCardFrame"
	v-responsive="{
    tiny: el => el.width < 400,
    small: el => el.width < 800 && el.width > 400,
    large: el => el.width > 800,
  }"
>
		<div class="row">
			<div class="col-6">
				<p>{{cardExpiredMonth}} <span class="divider">/</span> {{cardExpiredYear}}</p>
			</div>
			<div class="col-6 s-ta-r">
				<img class="cc-logo" src="@/assets/images/icon/visa-logo.png" v-if="cardType == 'visa'"/>
				<img class="cc-logo" src="@/assets/images/icon/mastercard-logo.png" v-if="cardType == 'mastercard'"/>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>{{cardHolder}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h4>
					<span>****</span>
					<span>****</span>
					<span>****</span>
					<span class="last-number">{{lastCardNumber}}</span>
				</h4>
			</div>
		</div>
</div>