<div id="creditCardFrame">
		<div class="row">
			<div class="col-6">
				<p>05 <span class="divider">/</span> 22</p>
			</div>
			<div class="col-6 s-ta-r">
				<img class="cc-logo" src="@/assets/images/icon/visa-logo.png" />
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>Radiyan Abi Priyanda</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h4>
					<span>****</span>
					<span>****</span>
					<span>****</span>
					<span class="last-number">8764</span>
				</h4>
			</div>
		</div>
</div>